table{
    width: 100%;
    text-align: left;
}
table th{
    padding: 8px;
    border-bottom: 6px solid darkgray;
}
table td{
    padding:9px;
}

table tr:nth-of-type(even){
    background-color: rgba(0, 0,255, 0.1);
}
table tr:nth-of-type(odd){
    background-color: rgba(117, 126, 134, 0.096);
}

.active_style{
    background-color: rgba(241, 169, 76, 0.322) !important;
}
.selected_style{
    font-weight: bold;
    background-color: rgba(76, 135, 243, 0.548) !important;
}
