<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TableApp</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="./script/chart.js"></script>
    <script src="./script/CSV.js"></script>
  </head>

  <body>
    <div id="tableApp">
      <section>
        <div class="colmun_style">
          <h1>データ</h1>
          <button @click="toggleSort" class="btn-square-pop">
            ソート順：<span v-if="!sortState">降順▼</span
            ><span v-if="sortState">昇順▲</span>
          </button>
          <button @click="toggleClass" class="btn-square-pop">
            学年: <span v-if="grade != ''">{{grade}}年</span>
            <span v-else> 全学年</span>
          </button>
          <span class="cp_iptxt">
            <label class="ef"></label>
            <input
              placeholder="テキストフィルタ"
              type="text"
              v-model="textFilter"
            /> </span
          ><br />
          <details>
            <summary>行追加</summary>
            <li
              v-for="(item ,index) in header"
              v-if="item != '合計点' && item != '平均点'"
            >
              <span v-if="item === '氏名'" class="cp_iptxt">
                <label class="ef"></label>
                <input
                  :placeholder="item"
                  type="text"
                  v-model="addLineData[index]"
                />
              </span>
              <span v-else class="cp_iptxt">
                <label class="ef"></label>
                <input
                  :placeholder="item"
                  type="number"
                  v-model="addLineData[index]"
                />
              </span>
            </li>
            <button class="btn-square-pop" @click="addLine">行追加</button>
          </details>
          <table>
            <thead>
              <th
                v-for="(item,index) in header"
                @click="selectSortOption(item), sortTable(index)"
                @mouseover="activeItem=item"
                @mouseout="activeItem=''"
                v-bind:class="{active_style : activeItem === item ,selected_style : selectedItem === item}"
              >
                {{item}}
              </th>
            </thead>
            <tbody>
              <!-- 1行のくりかえし -->
              <tr
                v-for="line in findFilter"
                @click="selectRows(line)"
                @mouseover="activeItem=line"
                @mouseout="activeItem=''"
                v-bind:class="{active_style : activeItem === line ,selected_style : selectedItem === line}"
              >
                <!-- 1データの繰り返し -->
                <td v-for="item in line">{{item}}</td>
              </tr>
              <tr v-for="line in findMiniMax">
                <td v-for="item in line">{{item}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="colmun_style">
          <div class="sticky">
            <h1>棒グラフ</h1>
            <div id="chartdiv"></div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
