<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>課題サンプル</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="./script/chart.js"></script>
    <script src="./script/CSV.js"></script>
  </head>

  <body>
    <div id="tableApp">
      <section style="float:left; padding:10px">
        <h1>データ</h1>
        <button @click="toggleSort">
          ソート順：<span v-if="!sortState">降順▼</span
          ><span v-if="sortState">昇順▲</span>
        </button>
        <table>
          <thead>
            <th
              v-for="(item,index) in header"
              @click="selectSortOption(item), sortTable(index)"
              @mouseover="activeItem=item"
              @mouseout="activeItem=''"
              v-bind:class="{active_style : activeItem === item ,selected_style : selectedItem === item}"
            >
              {{item}}
            </th>
          </thead>
          <tbody>
              <!-- 1行のくりかえし -->
              <tr
                v-for="line in rank"
                @click="selectRows(line)"
                @mouseover="activeItem=line"
                @mouseout="activeItem=''"
                v-bind:class="{active_style : activeItem === line ,selected_style : selectedItem === line}"
              >
                <!-- 1データの繰り返し -->
                <td v-for="item in line">{{item}}</td>
              </tr>
          </tbody>
        </table>
      </section>
      <section style="float:left; padding:10px">
        <h1>棒グラフ</h1>
        <div id="chartdiv"></div>
      </section>
    </div>
  </body>
</html>
